div#strike-screen {
    background-color: black;
    min-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999999999;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#strike-screen div {
    padding: 16px;
}

div#strike-screen div p {
    color: white;
    font-size: 32px;
    text-align: center;
}

div#strike-screen div a {
    color: gold;
}
    
div#strike-screen div a:hover {
    color: white;
}
